// ======================================================
// Component / Beer Item
// ======================================================

@use "../utils/" as *;


// Base
// ======================================================

.beer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    opacity: 0;
    transform: translateY(20%);
    transition-property: opacity, transform;
    transition-duration: 1s;
    transition-timing-function: $ease-expo-out;

    @include media(">=desktop") {
        flex-direction: row;
    }

    &:nth-child(odd) {
        @include media(">=desktop") {
            text-align: right;
            justify-content: flex-end;
        }
    }

    &:nth-child(even) {
        @include media(">=desktop") {
            text-align: left;
            margin-top: rem(160);
        }
    }


    &.--visible {
        opacity: 1;
        transform: translateY(0%);
    }
}

.beer-item_wrapper {
    @include media(">=desktop") {
        max-width: rem(300);

        .beer-item:nth-child(even) & {
            order: 1;
            margin-left: calc(100vw / 24);
        }

        .beer-item:nth-child(odd) & {
            margin-right: calc(100vw / 24);
        }
    }
}


.beer-item_name {
    font-size: rem(40);
    font-family: $primary-font-families;
    margin-bottom: rem(10);
    text-transform: uppercase;

    @include media(">=desktop") {
        font-size: min(rem(80), 5.5vw);
    }
}

.beer-item_tagline {
    display: block;
    font-family: $tertiary-font-families;
    font-weight: 900;
    font-size: rem(16);
    margin-bottom: rem(15);
    text-transform: uppercase;

    @include media(">=desktop") {
        font-size: rem(20);
        margin-bottom: rem(30);
    }
}


.beer-item_visual-wrapper {
    position: relative;
}

.beer-item_visual-overlay {
    position: absolute;
    left: 0;
    top: 0;
}

.beer-item_visual {
    max-width: rem(140);
    max-height: rem(280);
    width: auto;
    height: auto;

    @include media("<desktop") {
        margin-bottom: rem(30);
    }

    @include media(">=tablet") {
        max-width: rem(240);
        max-height: rem(480);
    }

    @include media(">=desktop") {
        // width: rem(240);
        // max-height: rem(815);

        max-width: rem(240);
        max-height: rem(815);
        min-width: 25%;

        // 240
        .beer-item:nth-child(odd) & {
            order: 1;
        }
    }
}
