// ======================================================
// Component / Loader
// ======================================================

@use "sass:list";
@use "sass:map";
@use "../utils/" as *;


// Loader
// ======================================================

.loader {
    font-family: $secondary-font-families;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: rem(32);
    text-transform: uppercase;

    position: fixed;
    left: 0;
    top: -5%;
    width: 100%;
    height: 110%;
    border-radius: 30px;

    background-color: var(--color-yellow);
    color: var(--color-dark);

    z-index: map.get($z-indexes, 'loader');

    @include media(">=desktop") {
        font-size: rem(54);
    }
}


// Wrapper
// ======================================================

.loader_wrapper {
    overflow: hidden;
}

.loader_text {
    display: block;
    position: relative;
}
