// ======================================================
// Utils / Helpers
// ======================================================

// @use "./variables" as *;
@use "./responsive" as *;

// Display
// ======================================================

.show-mobile {

}

.show-tablet {
    display: none;

    @include media('>=tablet') {
        display: initial;
    }
}

.show-laptop {
    display: none;

    // @include media('>=laptop') {
    //     display: initial;
    // }
}

.hide-mobile {

}

.hide-tablet {

}

.hide-laptop {

}

.only-mobile {
    // @include media('>=tablet') {
    //     display: none;
    // }
}

.only-tablet {

}

.only-laptop {

}


// Text alignment
// ======================================================

.--text-left {
    text-align: left;
}

.--text-center {
    text-align: center;
}

.--text-right {
    text-align: right;
}
